.search__bar {
  display: flex;
  align-items: center;
}

/* Input */
.search__bar .search__input {
  border-radius: 5px;
  width: 400px;
  border: 2px solid #2b5186;
  margin-right: 8px;
}
.search__input::placeholder {
  padding: 5px;
}

/* Button */
.search__bar .search__button {
  border-radius: 5px;
  border: 2px solid #2b5186;
}
.search__bar .search__button:hover {
  background-color: #0056b3;
}
